@import '../../scss/mixins.scss';
@import '../../scss/variable.scss';

.profilIntro {
  @include blocSetUp;

  &__username {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__name {
    margin-left: 10px;
    color: $white;
  }

  &__firstname {
    font-size: 16px;
  }

  &__lastname {
    font-size: 20px;
    line-height: 17px;
  }

  &__box {
    color: $white;
    border-bottom: 0.3px solid $lightGrey;
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: unset;
    }

    &-title {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 5px;
      width: 100%;
    }

    p {
      line-height: 23px;
      font-size: 14px;
      color: rgba($white, .5);
      margin-bottom: 1rem;
    }
  }

  .DraftEditor-root {
    color: rgba($white, .5);
    font-size: 14px;
    margin-bottom: 1rem;
  }

}