@import '../../scss/variable.scss';

.blocTitle {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: $white;
  margin-bottom: 3rem;

  &::after {
    content: '';
    width: 50px;
    height: 2px;
    border-radius: 5px;
    background-color: $blue;
    position: absolute;
    bottom: -0.7rem;
    left: 0;
  }
}