@import '../../scss/variable.scss';
@import '../../scss/mixins.scss';

.profilPage {
  padding-top: 60px;
  min-height: 100vh;

  &__nav {
    background-color: $darkGrey;
    display: flex;
    align-items: center;
    justify-content: center;

    &-username {
      width: fit-content;
      color: $blue;
      margin-left: 6rem;

      h3 {
        font-size: 20px;
        font-weight: 500;
      }
    }

    &-list {
      height: 60px;
      display: flex;
      max-width: 1000px;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &-item {
        color: $white;
        list-style: none;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  &__main {
    &-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-gap: 1rem;
      gap: 1rem;
    }
  }
}