@import "../../scss/variable.scss";
@import "../../scss/mixins.scss";

.EditBasicInfo {
  @include blocSetUp;

  &__form {
    width: 100%;
  }

  &__formRow {
    display: flex;
    align-items: center;
  }

  &__formRow>.inputContainer {
    &:first-child {
      margin-right: 1rem;
    }
  }
}