@import "../../scss/variable.scss";
@import "../../scss/mixins.scss";

.EditBasicInfo {
  @include blocSetUp;

  &__form {
    width: 100%;
  }

  &__formRow {
    display: flex;
    align-items: center;
  }

  &__formRow>.inputContainer {
    &:first-child {
      margin-right: 1rem;
    }
  }

  &__textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.1px solid $XlightGrey;
    font-size: 1rem;
    line-height: 1.6;
    color: $XlightGrey;
  }

  &__textarea-label {
    color: $XlightGrey;
    font-weight: 500;
    opacity: 0.8;
    transform-origin: left;

    &--focus {
      color: $blue;
    }
  }

  &__textarea {
    min-height: 100px;
    resize: vertical;
    width: 100%;

    &--focus {
      border-bottom: 1px solid $blue;
    }
  }
}