@import "../../scss/variable.scss";
@import "../../scss/mixins.scss";

.TextArea {
  margin-top: 3rem;
  color: $white;
  border-bottom: 0.1px solid $XlightGrey;
  padding: 0 0 1rem 0;
  transition: all 0.2 linear;
  height: 100%;
  max-height: 26px;

  &--focus {
    border-bottom: 0.1px solid $blue;
    max-height: 1000px;
    min-height: 100px;

    .public-DraftStyleDefault-block {
      margin-top: 1rem;
      opacity: 0.8;
    }
  }

  &__label {
    color: $XlightGrey;
    font-weight: 500;
    transform-origin: left;
    cursor: text;

    &--focus {
      color: $blue;
      padding-bottom: 1rem;
    }
  }
}