@import "../../../scss/variable.scss";
@import "../../../scss/mixins.scss";

.AboutProfil {
  @include blocSetUp;
  color: $white;

  &__aboutTop {
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.7;
    opacity: 0.8;
  }

  &__table {
    display: flex;
    margin-top: 3rem;
    border: 1px solid $lightGrey;
    height: fit-content;
  }

  &__list {
    background-color: $mediumLightGrey;
    width: 40%;
  }

  &__listItem {
    padding: 10px;
    color: $white;
    opacity: 0.8;
    list-style: none;
    cursor: pointer;

    &--active {
      background-color: $blue;
    }
  }

  &__result {
    padding: 0.5rem;
    padding-bottom: 1rem;
    overflow: auto;
    box-sizing: content-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 60%;

    &::-webkit-scrollbar {
      width: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $blue;
    }

  }

  &__resultItem {

    padding: 10px;
    color: $white;
    opacity: 0.8;
    list-style: none;
    display: flex;
    align-items: center;

    svg {
      color: $blue;
      margin-right: 1rem;
    }
  }

  &__resultEdu {
    margin-bottom: 2rem;
  }

  &__resultEduTitle {
    color: $blue;
    font-size: 16px;
  }

  &__resultEdu__date {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      margin-left: 2rem;
      font-weight: 500;
      opacity: 0.6;
    }
  }

}