.PostShow {
    padding-top: 60px;
    min-height: 100vh;
    margin-top: 1.5rem;
    padding-left: calc(1.5rem);
    padding-right: calc(1.5rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}