@import "../../scss/mixins.scss";
@import "../../scss/variable.scss";

.FormBtns {
  width: 100%;
  display: flex;
  margin: 2rem 0 1rem 0;

  &__btn {
    @include buttonSetUp;
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    padding: 7px 30px;


    &--update {
      background-color: $blue;
      border: 1px solid $blue;
    }

    &--cancel {
      margin-right: 10px;
      background-color: $lavender;
      border: 1px solid $lavender;
    }
  }
}