@import '../../scss/variable.scss';
@import '../../scss/mixins.scss';

.WorkEducationCard {
  @include blocSetUp;
  color: $white;
  position: relative;

  &__name {
    font-size: 22px;
  }

  &__address {
    opacity: 0.7;
    font-size: 16px;
    margin-left: 1rem;
  }

  &__date {
    color: $blue;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__editor {
    margin-top: 2rem;
    opacity: 0.7;
  }

  &__wrapper {
    display: flex;
    align-items: baseline;
  }


}