@import '../../scss/variable.scss';
@import '../../scss/mixins.scss';

.navProfilPage {
  background-color: $darkGrey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-left: 14rem;

  @include respond(laptop) {
    padding-right: 1rem;

  }

  @include respond(tablet) {
    justify-content: unset;
    padding-left: 9rem;
  }

  @include respond(mobile) {
    padding-left: 6rem;
  }

  &__username {
    width: fit-content;
    color: $blue;
    padding-right: 2rem;
    position: relative;
    bottom: 4px;
    white-space: nowrap;

    @include respond(laptop) {
      margin-left: 1rem;
    }

    h3 {
      font-size: 24px;
      font-weight: 500;

      @include respond(laptop) {
        font-size: 20px;
      }

    }
  }

  &__list {
    height: 60px;
    display: flex;
    max-width: 713px;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    @include respond(tablet) {
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      position: fixed;
      z-index: 999999999999;
      padding: 0;
      max-width: unset;
      justify-content: space-around;

    }

    &-item {
      color: $white;
      list-style: none;
      font-weight: 500;
      cursor: pointer;
      position: relative;

      @include respond(laptop) {
        font-size: 14px;
      }

      @include respond(tablet) {
        font-size: 12px;

      }

      &-hint {
        position: absolute;
        width: 18px;
        height: 18px;
        line-height: 22px;
        border-radius: 50%;
        right: -15px;
        top: -10px;
        font-size: 12px;
        background-color: red;
        font-weight: 700;

        p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

      }
    }
  }

  &__link {
    &--active {
      position: relative;

      &::after {
        content: '';
        width: 30px;
        height: 4px;
        background-color: $blue;
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}