@import '../../scss/mixins.scss';
@import '../../scss/variable.scss';

.add-comment {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;

  &__input {
    width: 100%;
    border-color: transparent;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 16px;
    background: $mediumLightGrey;
    color: #eee;
    padding: 10px;
    margin-left: 1rem;

    &--active {
      height: 100px;
    }

    &:focus {
      outline: none;
    }
  }

  &__send-btn {
    @include buttonSetUp;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 1rem;

  }
}