@import "../../scss/mixins.scss";
@import "../../scss/variable.scss";

.EditWorkEducation {
  @include blocSetUp;

  &__checkBox {
    margin-right: 3rem;

    label {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      margin-right: 1rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    .inputContainer {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }


}