@import "../../scss/mixins.scss";
@import "../../scss/variable.scss";

.feed {
  transform: translateY(0);
  transition: all 0.2s ease;

  &__noPost {
    text-align: center;
    color: $white;
  }

}