@import '../../scss/variable.scss';
@import '../../scss/mixins.scss';

.Search {
  padding-top: 60px;

  @include respond(tablet) {
    padding-top: 120px
  }

  &__list {
    @include blocSetUp;

    li {
      list-style: none;
    }
  }
}