$darkGrey: #343434;
$mediumGrey: #383838;
$mediumLightGrey: #424242;
$lightGrey:#505050;
$XlightGrey: #ccc;
$blue: #007bff;
$lavender:#736ae4;
$white: whitesmoke;
$red: rgb(255, 0, 0);

$padding: 25px;
$radius: 5px;