@import "../../scss/mixins.scss";
@import "../../scss/variable.scss";

.userProfile {
  @include blocSetUp;

  &__container {
    display: flex;
  }

  &__name {
    margin-left: 10px;
    color: $white;
  }

  &__firstname {
    font-size: 16px;
  }

  &__lastname {
    font-size: 20px;
    line-height: 17px;
  }
}