@import "../../scss/mixins.scss";
@import "../../scss/variable.scss";

.EditPassword {
  @include blocSetUp;

  &__loader {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(52, 52, 52, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    z-index: 99999999999999;
  }
}